<!DOCTYPE html>
<html>

<head>
	<title>Skilltest</title>
	<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/navbar.css') }}" />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/formStyle.css') }}" />
</head>

<body>
	<div id=container>
		<header>
			<nav>
				<ul>
					<li><a href="/">Finn nye bedrifter</a></li>
					<li><a href="/saved">Lagret bedrifter</a></li>
				</ul>
			</nav>
		</header>

		<div id="background">
			<div id="foreground">
				<h1><b>Her kan du søke etter ulike bedrifter</b></h1>
				<form action="/search/orgnr" method="post">
					<p>Skriv inn organisasjonsnummeret:</p>
					<p><input type="text" name="nm" /></p>
					<p><input type="submit" value="Search" /></p>
				</form>
				<form action="/search/postnr" method="post">
					<p>Skriv inn postnummeret:</p>
					<p><input type="text" name="nm" /></p>
					<p><input type="submit" value="Search" /></p>
				</form>
			</div>
		</div>

		<footer>
			<p>Lars Andreas Sørensen Vestbø</p>
			<p><a href="mailto:larsandreassovo@gmail.com">larsandreassovo@gmail.com</a></p>
		</footer>
	</div>

</body>

</html>