<!DOCTYPE html>
<html>

<head>
    <title>Skilltest</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/navbar.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/formStyle.css') }}" />
</head>

<body>
    <div id=container>
        <header>
            <nav>
                <ul>
					<li><a href="/">Finn nye bedrifter</a></li>
					<li><a href="/saved">Lagret bedrifter</a></li>
                </ul>
            </nav>
        </header>

        <div id="background">
            <div id="foreground">
                <h1>Her kan du notere informasjon om bedriften</h1>
                <form action="/search/save" method="post">
                    <input type="hidden" name="nr" value="{{nr}}" />
                    <input type="hidden" name="nrType" value="{{nrType}}" />
                    <textarea name="information" rows="4" cols="50" placeholder="Skriv informasjonen her...">{{information or ""}}</textarea>
                <p><input type="submit" value="Lagre" /></p>
                </form>
                <h2>Basisopplysninger</h2>

                <h3>Informasjonen er hentet fra <a>brreg.no</a></h3>
                <table>
                    {% for key, value in opplysningerMapping.items() %}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    {% endfor %}
                </table>

                <h3>Koordinatene er hentet fra <a>ws.geonorge.no</a></h3>
                <table>
                    <tr>
                        <th>Forretningsadresse</th>
                        <th>Breddegrad</th>
                        <th>lengdegrad</th>
                    </tr>
                    {% for coordinate in coordinatesMapping %}
                    <tr>
                        <td>{{coordinate[0]}}</td>
                        <td>{{coordinate[1]}}</td>
                        <td>{{coordinate[2]}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
        <footer>
            <p>Author: Lars Andreas Sørensen Vestbø</p>
            <p><a href="mailto:larsandreassovo@gmail.com">larsandreassovo@gmail.com</a></p>
        </footer>
    </div>
</body>

</html>